In [1]:
import pandas as pd
test = pd.read_csv("./sample_submission.csv")

In [2]:
test

            row_id  meter_reading
0                0              0
1                1              0
2                2              0
3                3              0
4                4              0
5                5              0
6                6              0
7                7              0
8                8              0
9                9              0
10              10              0
11              11              0
12              12              0
13              13              0
14              14              0
15              15              0
16              16              0
17              17              0
18              18              0
19              19              0
20              20              0
21              21              0
22              22              0
23              23              0
24              24              0
25              25              0
26              26              0
27              27              0
28              28              0
29              29              0
...            ...            ...
41697570  41697570              0
41697571  41697571              0
41697572  41697572              0
41697573  41697573              0
41697574  41697574              0
41697575  41697575              0
41697576  41697576              0
41697577  41697577              0
41697578  41697578              0
41697579  41697579              0
41697580  41697580              0
41697581  41697581              0
41697582  41697582              0
41697583  41697583              0
41697584  41697584              0
41697585  41697585              0
41697586  41697586              0
41697587  41697587              0
41697588  41697588              0
41697589  41697589              0
41697590  41697590              0
41697591  41697591              0
41697592  41697592              0
41697593  41697593              0
41697594  41697594              0
41697595  41697595              0
41697596  41697596              0
41697597  41697597              0
41697598  41697598              0
41697599  41697599              0

[41697600 rows x 2 columns]